<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <br>
    <br>
    <form action="sys/reg" method="post">
        names<input type="text" name="names"><br>
        mobile<input type="text" name="mobile"><br>
        password<input type="text" name="password"><br>
        username<input type="text" name="username"><br>
        email<input type="text" name="email"><br>
        <input type="submit" value="提交">
    </form>
</body>
</html>